# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode
vm-vue.code-workspace

# Вспомогательные файлы
*.log*
node_modules/

# Папка с решениями автора курса
examples

# Интеграция с github
.github

# Файлы firebase/
.firebase/
.firebaserc
firebase.json